{sys, [
       {lib_dirs, ["../../"]},
       {rel, "rmq_patterns", "1",
        [
         kernel,
         stdlib,
         sasl,
         rmq_patterns
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "rmq_patterns"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, rmq_patterns, [{incl_cond, include}]},
       {app, sasl, [{incl_cond, include}]}
      ]}.

{target_dir, "rmq_patterns"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
           {copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
           {copy, "files/rmq_patterns", "bin/rmq_patterns"},
           {copy, "files/app.config", "etc/app.config"},
           {copy, "files/vm.args", "etc/vm.args"},
           {copy, "deps/amqp_client.ez", "lib/amqp_client.ez"},
           {copy, "deps/rabbit_common.ez", "lib/rabbit_common.ez "}
           ]}.
